<button (click)="addTab()">Add new process</button>
<div class="process">
    <!-- <li *ngFor="let obj of processTab">{{obj | json}}</li> -->
<mat-tab-group>
    
    <mat-tab class="procee-ims" *ngFor="let tab of processTab" >
        <ng-template mat-tab-label>
            {{tab.tabName}} <mat-icon class="tab-icon" (click)="deleteTab(tab.id)">cancel</mat-icon>
          </ng-template>
       
        <mat-form-field>
            <input matInput placeholder="Input">
          </mat-form-field>
        
    </mat-tab>
   
</mat-tab-group>
</div>