<form [formGroup]="service.form" class="normal-form" (submit)='onSubmit()'>
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input formControlName="fullName" matInput placeholder="Full name*">
                    <mat-error>This field is mandatory</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error>This field is address</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="mobile" matInput placeholder="Mobile*">
                    <mat-error *ngIf="service.form.controls['mobile'].error?.requried">This field is required</mat-error>
                    <mat-error *ngIf="service.form.controls['mobile'].error?.minLength">Minimum 8 char is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="city" matInput placeholder="City">
                </mat-form-field>


            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">
                <div class="add-bottom-padding">
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button value="2">Femal</mat-radio-button>
                        <mat-radio-button value="3">Other</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field>
                    <mat-select formControlName="depertment" placeholder="Depatment">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let department of departmentService.array ">
                            <mat-option value="{{department.$key}}">{{department.name}}-{{department.code}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-checkbox formControlName="isPermanet">Permanet Employee</mat-checkbox>
                
                <div class="button-row">
                    <button mat-raised-button color="primery" type="submit" [disabled]="service.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)='onClear()'>Clear</button>
                  </div>



            </div>
        </mat-grid-tile>


    </mat-grid-list>

</form>